alembic==1.11.1
attrs==23.2.0
bcrypt==4.1.2
bidict==0.22.1
blinker==1.6.2
Brotli==1.1.0
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
ConfigArgParse==1.7
contourpy==1.2.0
cryptography==41.0.1
cycler==0.12.1
dataclass-wizard==0.22.2
dnspython==2.3.0
dominate==2.8.0
eventlet==0.33.3
exceptiongroup==1.2.0
Faker==22.0.0
Flask==2.3.2
Flask-Bootstrap==3.3.7.1
Flask-Cors==4.0.0
Flask-Login==0.6.3
Flask-Mail==0.9.1
Flask-Migrate==4.0.4
Flask-MySQL==1.5.2
Flask-SocketIO==5.3.4
Flask-SQLAlchemy==3.0.3
Flask-Testing==0.8.1
fonttools==4.47.0
gevent==22.10.2
geventhttpclient==2.2.1
greenlet==2.0.2
h11==0.14.0
idna==3.4
importlib-metadata==6.6.0
importlib-resources==6.1.1
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
kiwisolver==1.4.5
locust==2.26.0
mailhog==0.1.0
Mako==1.2.4
MarkupSafe==2.1.2
matplotlib==3.8.2
mpld3==0.5.10
msgpack==1.0.8
mysql-connector-python==8.0.33
numpy==1.26.3
outcome==1.3.0.post0
packaging==23.2
pillow==10.2.0
pluggy==1.4.0
protobuf==3.20.3
psutil==5.9.8
pycparser==2.21
PyMySQL==1.0.3
pyparsing==3.1.1
PySocks==1.7.1
pytest==8.1.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-engineio==4.4.1
python-socketio==5.8.0
pyzmq==26.0.2
requests==2.31.0
roundrobin==0.0.4
selenium==4.19.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
SQLAlchemy==2.0.15
tomli==2.0.1
trio==0.25.0
trio-websocket==0.11.1
typing_extensions==4.11.0
urllib3==2.0.3
visitor==0.1.3
Werkzeug==2.3.4
wsproto==1.2.0
zipp==3.15.0
zope.event==5.0
zope.interface==6.0
gunicorn==22.0.0
