{% extends 'base.html' %}

{% block title %}Mot de passe oublié{% endblock %}
{% block content %}

<div class="container d-flex align-items-center justify-content-center" style="margin-top: 50px;">
  <div class="col-md-4">
    <h1 class="text-center" style="color: white">Changement mot de passe</h1>
    <form id="changer_mot_de_passe" method="POST" style="margin-top: 25px;">
      <div class="mb-3">
        <div class="d-grid">
          <input id="inputModificationMdp" aria-label="Saisir un mot de passe" name="inputModificationMdp"  minlength="8" maxlength="64" type="password" 
          tabindex="0" class="input-block " placeholder="Mot de passe" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
          title="Le mot de passe doit contenir au moins 8 caractères, dont au moins une majuscule, une minuscule et un chiffre."
          autocorrect="off" spellcheck="false" required>
        </div>
      </div>

     

      

      <div class="mb-3">
        <div class="d-grid">
          <button type="submit" class="btn neon-btn">Valider</button>
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  document.getElementById('changer_mot_de_passe').addEventListener('submit', function(event) {
    const password = document.getElementById('inputModificationMdp').value;
    let errorMessage = '';
  
   
    
    if (!password.match(/(?=.*\d)(?=.*[a-z])(?=.*[A-Z])/)) {
      errorMessage += 'Le mot de passe doit contenir au moins 8 caractères, dont au moins une majuscule, une minuscule et un chiffre.\n';
    }
  
    
  
   
    if (errorMessage) {
      event.preventDefault();
      alert(errorMessage);
    }
  });
 
</script>


{% endblock %}