{% extends 'base.html' %}

{% block title %}Confirmation{% endblock %}
{% block content %}


<div class="container" style="display: flex; justify-content: center; align-items: center; ">
  <div id="confirmation-mot-message">
    <p id="confirmation-mot-text">{{ message_mot }}</p>
    <p id="redirect-mot-text">Vous serez redirigé vers la page de connexion dans quelques secondes...</p>
  </div>
</div>

<script>
  setTimeout(() => {
      window.location.href = "{{ url_for('connexion.se_connecter') }}";
  }, 5000);
</script>

{% endblock %}