body {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/static/sources/background3.jpg');
  background-position: center;
  height: 100vh;
  font-family: "Rambla", sans-serif;
}

.btn-container-index {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.content-container {
  margin-bottom: 100px; 
}

#containerPlanification {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-top: 50px;
}
#custom-cardIndex {
  position: relative;
  margin: auto;
  max-width: 800px; /* Ajusta esto según tus preferencias */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#custom-cardEspaceUtilisateur {
  position: relative;
  margin: auto;
  max-width: 1400px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
#custom-cardVisualiser {
  position: relative;
  margin: auto;
  max-width: 1200px; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#custom-cardParier {
  position: relative;
  margin: auto;
  max-width: 1200px; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
#tableindex {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}

#tableIndex th, #tableIndex td {
  padding: 8px;
}

#tableIndex tr:nth-child(even) {
  background-color: #f2f2f2;
}

#tableindex tr:last-child td {
  border-bottom: none; /* Esto eliminará el borde inferior de las celdas en la última fila */
}


#modalVisualiser .modal-custom-section {
  margin-bottom: 20px;
}
#modalVisualiser .modal-body p {
  margin-bottom: 10px;
}
#tableVisualiser {
  max-height: 450px;
  overflow-y: auto;
}

#tableParier {
  max-height: 350px;
  overflow-y: auto;
}

.carousel-control-prev, .carousel-control-next {
  z-index: 2;
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  text-decoration: none; 
}
.carousel-control-prev {
  left: -80px; 
}

.carousel-control-next {
  right: -80px; 
}

#buttonErreurCreation, #buttonCloseVisualiser {
  background: none;
  border: none;
}

#buttonErreurCreation, #buttonCloseVisualiser .fa-xmark {
  font-size: 2em; 
  color: red; 
}
button:focus {
  outline: none;
}
#navBase {
  position: absolute; 
  top: 1%; 
  left: 50%; 
  padding-left: 85px; 
  transform: translateX(-50%);
}



.neon-btn {
  background: rgb(215,23,219);
  background: linear-gradient(167deg, rgba(215,23,219,1) 53%, rgba(151,0,255,1) 100%);

  color: #fff; 
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  text-shadow: 0 0 5px #000000, 0 0 15px #3b3939, 0 0 20px #ffffff,  0 0 10px #4c4747, 0 0 98px #ffffff;
  

}

.neon-btn:hover {
  box-shadow: 0 0 10px #6f42c1, 0 0 20px #6f42c1, 0 0 30px #6f42c1;
  color: #fff;
}

.neon-btn-modifier {
  background: rgb(25, 80, 244);
  background: linear-gradient(167deg, rgb(0 222 255) 53%, rgb(0 250 255) 100%);

  color: #fff; 
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  text-shadow: 0 0 5px #00000000, 0 0 15px #3b393900, 0 0 20px #ffffff,  0 0 10px #4c4747, 0 0 98px #ffffff;
  

}

.neon-btn-modifier:hover {
  box-shadow: 0 0 10px #07ebe1, 0 0 20px #04dbf0, 0 0 30px #04d1ff;
  color: #fff;
}

.neon-btn-supprimer {
  background: rgb(255 0 0);
  background: linear-gradient(167deg, rgb(255 0 0) 53%, rgb(255 0 0) 100%);

  color: #fff; 
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  text-shadow: 0 0 5px #00000000, 0 0 15px #3b393900, 0 0 20px #ffffff,  0 0 10px #4c474742, 0 0 98px #ffffff;
  

}

.neon-btn-supprimer:hover {
  box-shadow: 0 0 10px #ff0505, 0 0 20px #f04040, 0 0 30px #ff1919;
  color: #fff;
}


.neon-btn-oui {
  background: rgb(25 244 102);
  background: linear-gradient(167deg, rgb(0 255 84) 53%, rgb(0 255 57) 100%);

  color: #fff; 
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  text-shadow: 0 0 5px #00000000, 0 0 15px #3b393900, 0 0 20px #ffffff,  0 0 10px #4c4747ba, 0 0 98px #ffffff;
  

}

.neon-btn-oui:hover {
  box-shadow: 0 0 10px #39ff00, 0 0 20px #13ff64, 0 0 30px #18ff3e;
  color: #fff;
}


.neon-btn-non {
  background: rgb(255 0 0);
  background: linear-gradient(167deg, rgb(255 0 0) 53%, rgb(255 0 0) 100%);

  color: #fff; 
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  text-shadow: 0 0 5px #00000000, 0 0 15px #3b393900, 0 0 20px #ffffff,  0 0 10px #4c474742, 0 0 98px #ffffff;
  

}

.neon-btn-non:hover {
  box-shadow: 0 0 10px #ff0505, 0 0 20px #f04040, 0 0 30px #ff1919;
  color: #fff;
}


#card-creation{
  box-shadow: 0px 0px 10px rgb(0 0 0);
  border-radius: 20px;
  
}

.nav-link-custom {
  color: rgb(215,23,219); /* Color Morado */
}

.nav-link-custom.active {
  color: black; /* Color Negro */
}

@media only screen and (max-width: 600px) {
  .table-container {
      overflow-x: auto;
  }
}
@media (max-width: 768px) {
  .d-md-block {
      display: none !important;
  }
  .navbar-nav {
    flex-direction: row; 
  }

  .navbar-collapse {
    transform: translateX(-20%);
    z-index: 999;
  }


}

/* Ocultar "Home" en pantallas medianas y grandes */
@media (min-width: 769px) {
  .d-md-none {
      display: none !important;
  }
}