body {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/static/sources/imagesite1.png');
  background-position: center;
  height: 100vh;
}

.btn-container-index {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.content-container {
  margin-bottom: 100px; 
}

#custom-cardIndex {
  margin: auto;
  max-width: 800px; /* Ajusta esto según tus preferencias */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#tableindex {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}

#tableIndex th, #tableIndex td {
  text-align: center;
  padding: 8px;
}

#tableIndex tr:nth-child(even) {
  background-color: #f2f2f2;
}

#tableindex tr:last-child td {
  border-bottom: none; /* Esto eliminará el borde inferior de las celdas en la última fila */
}

#custom-cardIndex {
  text-align: center;
}

#tableVisualiser {
  max-height: 600px;
  overflow-y: auto;
}
