{% extends 'base.html' %}

{% block title %}Miser sur la sélection{% endblock %}
{% block content %}


<div class="container d-flex align-items-center justify-content-center" style="margin-top: 50px;">
  <div class="col-md-6">
    <h1 class="text-center" style="color: white" >Miser sur la sélection</h1>
    <form method="POST" id="formParier" action="{{ url_for('paris.form_miser_selection') }}">
      {% for match in matchs_selectionnes %}
      <h3 style=" color: white">{{ match.equipe1 }} - {{ match.equipe2 }}</h3>
      <div class="form-group">
        <div class="row">
          <label for="mise_equipe1_{{ loop.index }}" class="col-sm-4 control-label" style="color: white" >{{ match.equipe1 }}</label>
          <span class="cote-label col-sm-4 control-label" style="color: white" >Cote : {{ match.cote1 }}</span>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="mise_equipe1_{{ loop.index }}" name="mise_equipe1_{{ loop.index }}"  oninput="this.value = this.value.replace(/[^0-9]/g, ''); calculerMultiplication(this.value, '{{ match.cote1 }}', 'resultat1_{{ loop.index }}','resultat1_input_{{ loop.index }}')"
             maxlength="5" required placeholder="Montant en €">
            <span id="resultat1_{{ loop.index }}" style="color: white" ></span>
            <input type="hidden" id="resultat1_input_{{ loop.index }}" name="resultat1_{{ loop.index }}"  value="" style="color: white" >
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <label for="mise_equipe2_{{ loop.index }}" class="col-sm-4 control-label" style="color: white" >{{ match.equipe2 }}</label>
          <span class="cote-label col-sm-4 control-label" style="color: white" >Cote : {{ match.cote2 }}</span>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="mise_equipe2_{{ loop.index }}" name="mise_equipe2_{{ loop.index }}"  oninput="this.value = this.value.replace(/[^0-9]/g, ''); calculerMultiplication(this.value, '{{ match.cote2 }}', 'resultat2_{{ loop.index }}', 'resultat2_input_{{ loop.index }}')" 
            maxlength="5" required placeholder="Montant en €">
            <span id="resultat2_{{ loop.index }}" style="color: white" ></span>
            <input type="hidden" id="resultat2_input_{{ loop.index }}" name="resultat2_{{ loop.index }}" value="" style="color: white">
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="form-group">
        <div class="row">
          <div class="col-sm-12 text-center">
            <button type="button" class="btn neon-btn" id="submitBtn">Valider ma sélection</button>
          </div>
        </div>
      </div>
      <div id="confirmationModal" class="modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              Êtes-vous sûr de vouloir soumettre votre sélection ?
            </div>
            <div class="modal-footer">
              
              <button id="confirmerBtn" type="button" class="btn btn-primary">Confirmer</button>
              
              <button id="cancelerBtn" type="button" class="btn btn-danger">Annuler</button>
            </div>
          </div>
        </div>
      </div>
      
    </form>
  </div>
</div>

<script>
  function calculerMultiplication(mise, cote, resultatId, resultatInputId) {
    var resultat = document.getElementById(resultatId);
    var resultatInput = document.getElementById(resultatInputId);
    var valeurMise = parseFloat(mise);
    var valeurCote = parseFloat(cote);

    if (!isNaN(valeurMise) && !isNaN(valeurCote)) {
        var multiplication = valeurMise * valeurCote;
        resultat.textContent = 'Gain potentiel : ' + multiplication + ' €';
        resultatInput.value = multiplication;
    } else {
        resultat.textContent = '';
        resultatInput.value = '';
    }
  }

  var modal = document.getElementById("confirmationModal");
  var btn = document.getElementById("submitBtn");
  var cancelerBtn = document.getElementById("cancelerBtn");
  var confirmerBtn = document.getElementById("confirmerBtn");
  btn.onclick = function() {
    modal.style.display = "block";
  }
  cancelerBtn.onclick = function() {
    modal.style.display = "none";
  }
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }

  confirmerBtn.onclick = function() {
    document.getElementById("formParier").submit();
    modal.style.display = "none";
  }
  
</script>




{% endblock %}