{% extends 'base.html' %}

{% block title %}Creation{% endblock %}
{% block styles %}
<!--  CSS -->



{% endblock %}
{% block content %}

<div class="container align-items-center justify-content-center" style="margin-top: 50px;">
  <h1 class="text-center">Création des équipes et joueurs</h1>
</div>

<div class="container">
  <form action="/creation" method="POST" id="creationForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="nom_equipe">Equipe</label>
          <input type="text" class="form-control form-control-sm" id="nom_equipe" name="nom_equipe" pattern="[A-Za-z\s]+" style="width: 150px;">
          <div id="message_nom_equipe" style="display: none; color: red;"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="pays_appartenance">Pays d'appartenance</label>
          <input type="text" class="form-control form-control-sm" id="pays_appartenance" name="pays_appartenance" pattern="[A-Za-z\s]+" style="width: 150px;">
          <div id="message_pays_appartenance" style="display: none; color: red;"></div>

        </div>
      </div>
    </div>
    <h3>Vous devez rentrer les 11 joueurs</h3>
    <div class="container">
      <div class="row">
        {% for i in range(1, 12) %}
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="form-group">
                <label for="nom_joueur_{{ i }}">Nom</label>
                <input type="text" class="form-control" id="nom_joueur_{{ i }}" name="nom_joueur_{{ i }}" pattern="[A-Za-z\s]+">
                <div id="message_nom_joueur_{{ i }}" style="display: none; color: red;"></div>
              </div>
              <div class="form-group">
                <label for="prenom_joueur_{{ i }}">Prénom</label>
                <input type="text" class="form-control" id="prenom_joueur_{{ i }}" name="prenom_joueur_{{ i }}" pattern="[A-Za-z\s]+">
                <div id="message_prenom_joueur_{{ i }}" style="display: none; color: red;"></div>
              </div>
              <div class="form-group">
                <label for="numero_tshirt_{{ i }}">Numéro</label>
                <input type="text" class="form-control" id="numero_tshirt_{{ i }}" name="numero_tshirt_{{ i }}" pattern="\d+">
                <div id="message_numero_tshirt_{{ i }}" style="display: none; color: red;"></div>
              </div>
            </div>
          </div>
        </div>
        {% if i % 3 == 0 %}
      </div>
      <div class="row">
        {% endif %}
        {% endfor %}
      </div>
    </div>
    
    
    
    <div class="text-center mt-3">
      <button type="submit" class="btn btn-primary">Créer équipe</button>
    </div>
  </form>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Fonctions pour vérifier et alerter sur des caractères inappropriés
    function verifierCaracteresTexte(input, messageId) {
      let messageDiv = document.getElementById(messageId);
      if (input.value.length > 50) {
        messageDiv.innerText = 'Le texte ne doit pas dépasser 50 caractères';
        messageDiv.style.display = 'block';
        input.value = input.value.substring(0, 50);
      } else if (input.value.match(/[^A-Za-z\s]/)) {
        messageDiv.innerText = 'Seuls les lettres et espaces sont autorisés';
        messageDiv.style.display = 'block';
        input.value = input.value.replace(/[^A-Za-z\s]/g, '');
      } else {
        messageDiv.style.display = 'none';
      }
    }
  
    function verifierCaracteresNumero(input, messageId) {
      let messageDiv = document.getElementById(messageId);
      if (input.value.length > 2) {
        messageDiv.innerText = 'Le nombre ne doit pas dépasser deux chiffres';
        messageDiv.style.display = 'block';
        input.value = input.value.substring(0, 2);
      } else if (input.value.match(/[^\d]/)) {
        messageDiv.innerText = 'Seuls les chiffres sont autorisés';
        messageDiv.style.display = 'block';
        input.value = input.value.replace(/[^\d]/g, '');
      } else {
        messageDiv.style.display = 'none';
      }
    }
    
  

    

    // Appliquer la validation en temps réel
    document.getElementById('nom_equipe').addEventListener('input', function () {
      verifierCaracteresTexte(this, 'message_nom_equipe');
    });

    document.getElementById('pays_appartenance').addEventListener('input', function () {
      verifierCaracteresTexte(this, 'message_pays_appartenance');
    });

    for (let i = 1; i <= 11; i++) {
      document.getElementById('nom_joueur_' + i).addEventListener('input', function () {
        verifierCaracteresTexte(this, 'message_nom_joueur_' + i);
      });

      document.getElementById('prenom_joueur_' + i).addEventListener('input', function () {
        verifierCaracteresTexte(this, 'message_prenom_joueur_' + i);
      });

      document.getElementById('numero_tshirt_' + i).addEventListener('input', function () {
        verifierCaracteresNumero(this, 'message_numero_tshirt_' + i);
      });
    }

    const errorHeader = 'Erreur'
    const errorMessage = 'Veuillez vous assurer que tous les champs sont complétés correctement.';

    // Validation
    document.getElementById('creationForm').addEventListener('submit', function (e) {
        let isValid = true;

        const nomEquipe = document.getElementById('nom_equipe').value.trim();
        const paysAppartenance = document.getElementById('pays_appartenance').value.trim();

        if (!nomEquipe.match(/^[A-Za-z\s]+$/) || nomEquipe.length > 50 || 
            !paysAppartenance.match(/^[A-Za-z\s]+$/) || paysAppartenance.length > 50) {
            isValid = false;
        }

        for (let i = 1; i <= 11; i++) {
            const nomJoueur = document.getElementById('nom_joueur_' + i).value.trim();
            const prenomJoueur = document.getElementById('prenom_joueur_' + i).value.trim();
            const numeroTshirt = document.getElementById('numero_tshirt_' + i).value;

            if (!nomJoueur.match(/^[A-Za-z\s]+$/) || nomJoueur.length > 50 || 
                !prenomJoueur.match(/^[A-Za-z\s]+$/) || prenomJoueur.length > 50 ||
                !numeroTshirt.match(/^\d+$/)) {
                isValid = false;
                break;
            }
        }

        if (!isValid) {
            e.preventDefault(); // Prevoir envoie formulaire si erreur
            alert(errorHeader + '\n\n' + errorMessage);
        }
    });
  });
</script>


{% endblock %}
