{% extends 'base.html' %}

{% block title %}Creation{% endblock %}
{% block styles %}
<!--  CSS -->



{% endblock %}
{% block content %}

<div class="container align-items-center justify-content-center" style="margin-top: 50px;">
  <h1 class="text-center">Création des équipes et joueurs</h1>
</div>

<div class="container">
  <form action="/creation" method="POST">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="nom_equipe">Equipe</label>
          <input type="text" class="form-control form-control-sm" id="nom_equipe" name="nom_equipe" style="width: 150px;">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="pays_appartenance">Pays d'appartenance</label>
          <input type="text" class="form-control form-control-sm" id="pays_appartenance" name="pays_appartenance" style="width: 150px;">
        </div>
      </div>
    </div>
    <h3>Vous devez rentrer les 11 joueurs</h3>
    <div class="container">
      <div class="row">
        {% for i in range(1, 12) %}
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="form-group">
                <label for="nom_joueur_{{ i }}">Nom</label>
                <input type="text" class="form-control" id="nom_joueur_{{ i }}" name="nom_joueur_{{ i }}">
              </div>
              <div class="form-group">
                <label for="prenom_joueur_{{ i }}">Prénom</label>
                <input type="text" class="form-control" id="prenom_joueur_{{ i }}" name="prenom_joueur_{{ i }}">
              </div>
              <div class="form-group">
                <label for="numero_tshirt_{{ i }}">Numéro</label>
                <input type="number" class="form-control" id="numero_tshirt_{{ i }}" name="numero_tshirt_{{ i }}">
              </div>
            </div>
          </div>
        </div>
        {% if i % 3 == 0 %}
      </div>
      <div class="row">
        {% endif %}
        {% endfor %}
      </div>
    </div>
    
    
    
    <div class="text-center mt-3">
      <button type="submit" class="btn btn-primary">Créer équipe</button>
    </div>
  </form>
</div>



<script>
 
</script>

{% endblock %}
