{% extends 'base.html' %}

{% block title %}Espace utilisateur{% endblock %}
{% block content %}


<div class="container align-items-center justify-content-center" style="margin-top: 50px;">
  <h3>Mon espace</h3>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {% if active_tab == 'dashboard' %}active{% endif %}" href="#dashboard" data-bs-toggle="tab">Statistiques</a>
    </li>
    <li class="nav-item">
      <a class="nav-link  {% if active_tab == 'informations' %}active{% endif %}" href="#informations" data-bs-toggle="tab">Informations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link  {% if active_tab == 'historique' %}active{% endif %}" href="#historique" data-bs-toggle="tab" id="historique-tab">Historique des mises</a>
    </li>
  </ul>

  <!-- Contenu des onglets -->

  <div class="tab-content">
    <div class="tab-pane fade {% if active_tab == 'dashboard' %}show active{% endif %}" id="dashboard">
      <div style="width: 200px; height: 200px">
        <canvas id="monGraphique"></canvas>
      </div>
     
      
     
      
    </div>
    <div class="tab-pane fade {% if active_tab == 'informations' %}show active{% endif %}" id="informations">
      <h3>Informations</h3>
      <p>Nom: {{ utilisateur[1] }}</p>
      <p>Prénom: {{ utilisateur[2] }}</p>
      <p>Email: {{ utilisateur[3] }}</p>
    </div>
    <div class="tab-pane fade {% if active_tab == 'historique' %}show active{% endif %}" id="historique" role="tabpanel" aria-labelledby="historique-tab">
      <h3>Historique des mises</h3>
      <div class="table-container">
        
        <table class="table">
          <thead>
            <tr>
              <th>Equipes</th>
              <th>Date</th>
              <th>Heure de début</th>
              <th>Heure de fin</th>
              <th>Mise</th>
              <th>Status</th>
              <th>Bénéfices</th>
            </tr>
          </thead>
          <tbody>
            {% for mise in mises %}
            <tr>
              <td>{{ mise[1] }} - {{ mise[2] }}</td>
              <td>{{ mise[3] }}</td>
              <td>{{ mise[4] }}</td>
              <td>{{ mise[5] }}</td>
              <td>  
                {% if mise[6] is not none %}
                  {{ mise[1] }} - {{ mise[6] }}
                {% endif %}
                {% if mise[7] is not none %}
                  {{ mise[2] }} - {{ mise[7] }}
                {% endif %}
              </td>
              <td>{{ mise[10] }}</td>
              <td>
                {% if mise[10] == "Terminé" %}
                  {% if mise[12] == mise[11] %}
                    <span class="text-success">{{ mise[8] }}</span>
                  {% elif mise[13] == mise[11] %}
                    <span class="text-success">{{ mise[9]}}</span>
                  {% else %}
                    {% if mise[6] is not none %}
                      <span class="text-danger">{{ mise[6] }}</span>
                    {% elif mise[7] is not none %}
                      <span class="text-danger">{{ mise[7] }}</span>
                    {% else %}
                      -
                    {% endif %}
                  {% endif %}
                {% else %}
                  -
                {% endif %}
              </td>
              <td>
                {% if mise[10] == "À venir" %}
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal{{ mise[0] }}Modifier">Modifier</button>
                {% endif %}
                {% if mise[10] == "À venir" %}
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal{{ mise[0] }}Supprimer">Supprimer</button>
                {% endif %}
              </td>
              
  
            </tr>
            <!-- Modal de confirmation de suppression -->
            <div class="modal fade" id="modal{{ mise[0] }}Supprimer" tabindex="-1" aria-labelledby="modal{{ mise[0] }}SupprimerLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modal{{ mise[0] }}SupprimerLabel">Supprimer la mise</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Êtes-vous sûr de vouloir supprimer cette mise ?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                    <a href="/mise/{{ mise[0] }}/supprimer" class="btn btn-danger">Oui</a>
                  </div>
                </div>
              </div>
            </div>
  
            <!-- Modal de confirmation de modififacion -->
            <div class="modal fade" id="modal{{ mise[0] }}Modifier" tabindex="-1" aria-labelledby="modal{{ mise[0] }}ModifierLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modal{{ mise[0] }}ModifierLabel">Modifier la mise</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Êtes-vous sûr de vouloir modifier cette mise ? (Le pari existant sera éliminé)
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                    <a href="/mise/{{ mise[0] }}/modifier" class="btn btn-danger" >Oui</a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </tbody>
        </table>
       
      </div>
      
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="btn-container-index d-flex justify-content-center align-items-center">
    <div class="col text-center">
      <a class="btn btn-primary mx-2" href="{{ url_for('index') }}">Index</a>
    </div>
    <div class="col text-center">
      <form action="{{ url_for('deconnexion_user_bouton') }}" method="POST">
        <button type="submit" class="btn btn-danger mx-2">Déconnexion</button>
      </form>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function activateHistoriqueTab() {
      const historiqueTab = document.getElementById('historique-tab');
      historiqueTab.classList.add('active');
      historiqueTab.setAttribute('aria-selected', 'true');

      const historiqueContent = document.getElementById('historique');
      historiqueContent.classList.add('show', 'active');
    }

    const urlParams = new URLSearchParams(window.location.search);
    const suppressionSuccessful = urlParams.get('suppression');
    if (suppressionSuccessful === 'true') {
      activateHistoriqueTab();
    }

    let totalBenefices = 0;
    let totalPertes = 0;

    document.querySelectorAll('table tbody tr').forEach(row => {
      let tdBenefices = row.cells[6];
      let span = tdBenefices.querySelector('span');
      if (span) {
        let valeur = parseFloat(span.textContent);
        if (span.classList.contains('text-danger') && valeur > 0) {
            valeur = -valeur;
        }

        if (valeur > 0) {
          totalBenefices += valeur;
        } else {
          totalPertes += valeur;
        }
      }
    });

    let pourcentageBenefices, pourcentagePertes;
    if (totalBenefices - totalPertes !== 0) {
      pourcentageBenefices = (totalBenefices / (totalBenefices - totalPertes)) * 100;
      pourcentagePertes = (totalPertes / (totalBenefices - totalPertes)) * -100;
    } else {
      pourcentageBenefices = 0;
      pourcentagePertes = 0;
    }

    const ctx = document.getElementById('monGraphique').getContext('2d');
    const monGraphique = new Chart(ctx, {
      type: 'pie',
      data: {
        labels: ['Benefices', 'Pertes'],
        datasets: [{
          label: 'Pourcentage',
          data: [pourcentageBenefices, pourcentagePertes],
          backgroundColor: ['rgba(0, 255, 0, 0.5)', 'rgba(255, 0, 0, 0.5)'],
          borderColor: ['rgba(0, 255, 0, 1)', 'rgba(255, 0, 0, 1)'],
          borderWidth: 1
        }]
      },
      options: {
        maintainAspectRatio: false,
        responsive: true
      }
    });

  });
</script>

<style>
  .table-container {
      max-height: 400px;
      overflow-y: auto;
    }

  
</style>


{% endblock %}