{% extends 'base.html' %}

{% block title %}Espace utilisateur{% endblock %}
{% block content %}


<div class="container align-items-center justify-content-center" style="margin-top: 50px;">
  <h3>Mon espace</h3>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {% if active_tab == 'dashboard' %}active{% endif %}" href="#dashboard" data-bs-toggle="tab">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link  {% if active_tab == 'informations' %}active{% endif %}" href="#informations" data-bs-toggle="tab">Informations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link  {% if active_tab == 'historique' %}active{% endif %}" href="#historique" data-bs-toggle="tab" id="historique-tab">Historique des mises</a>
    </li>
  </ul>

  <!-- Contenu des onglets -->

  <div class="tab-content">
    <div class="tab-pane fade {% if active_tab == 'dashboard' %}show active{% endif %}" id="dashboard">
      <p>pepe</p>
      <canvas id="miGrafico"></canvas>
      
     
      
    </div>
    <div class="tab-pane fade {% if active_tab == 'informations' %}show active{% endif %}" id="informations">
      <h3>Informations</h3>
      <p>Nom: {{ utilisateur[1] }}</p>
      <p>Prénom: {{ utilisateur[2] }}</p>
      <p>Email: {{ utilisateur[3] }}</p>
    </div>
    <div class="tab-pane fade {% if active_tab == 'historique' %}show active{% endif %}" id="historique" role="tabpanel" aria-labelledby="historique-tab">
      <h3>Historique des mises</h3>
      <div class="table-container">
        
        <table class="table">
          <thead>
            <tr>
              <th>Equipes</th>
              <th>Date</th>
              <th>Heure de début</th>
              <th>Heure de fin</th>
              <th>Mise</th>
              <th>Status</th>
              <th>Bénéfices</th>
            </tr>
          </thead>
          <tbody>
            {% for mise in mises %}
            <tr>
              <td>{{ mise[1] }} - {{ mise[2] }}</td>
              <td>{{ mise[3] }}</td>
              <td>{{ mise[4] }}</td>
              <td>{{ mise[5] }}</td>
              <td>  
                {% if mise[6] is not none %}
                  {{ mise[1] }} - {{ mise[6] }}
                {% endif %}
                {% if mise[7] is not none %}
                  {{ mise[2] }} - {{ mise[7] }}
                {% endif %}
              </td>
              <td>{{ mise[10] }}</td>
              <td>
                {% if mise[10] == "Terminé" %}
                  {% if mise[12] == mise[11] %}
                    <span class="text-success">{{ mise[8] }}</span>
                  {% elif mise[13] == mise[11] %}
                    <span class="text-success">{{ mise[9]}}</span>
                  {% else %}
                    {% if mise[6] is not none %}
                      <span class="text-danger">{{ mise[6] }}</span>
                    {% elif mise[7] is not none %}
                      <span class="text-danger">{{ mise[7] }}</span>
                    {% else %}
                      -
                    {% endif %}
                  {% endif %}
                {% else %}
                  -
                {% endif %}
              </td>
              <td>
                {% if mise[10] == "À venir" %}
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal{{ mise[0] }}Modifier">Modifier</button>
                {% endif %}
                {% if mise[10] == "À venir" %}
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal{{ mise[0] }}Supprimer">Supprimer</button>
                {% endif %}
              </td>
              
  
            </tr>
            <!-- Modal de confirmation de suppression -->
            <div class="modal fade" id="modal{{ mise[0] }}Supprimer" tabindex="-1" aria-labelledby="modal{{ mise[0] }}SupprimerLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modal{{ mise[0] }}SupprimerLabel">Supprimer la mise</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Êtes-vous sûr de vouloir supprimer cette mise ?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                    <a href="/mise/{{ mise[0] }}/supprimer" class="btn btn-danger">Oui</a>
                  </div>
                </div>
              </div>
            </div>
  
            <!-- Modal de confirmation de modififacion -->
            <div class="modal fade" id="modal{{ mise[0] }}Modifier" tabindex="-1" aria-labelledby="modal{{ mise[0] }}ModifierLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modal{{ mise[0] }}ModifierLabel">Modifier la mise</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Êtes-vous sûr de vouloir modifier cette mise ? (Le pari existant sera éliminé)
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                    <a href="/mise/{{ mise[0] }}/modifier" class="btn btn-danger" >Oui</a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </tbody>
        </table>
       
      </div>
      
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="btn-container-index d-flex justify-content-center align-items-center">
    <div class="col text-center">
      <a class="btn btn-primary mx-2" href="{{ url_for('index') }}">Index</a>
    </div>
    <div class="col text-center">
      <form action="{{ url_for('deconnexion_user_bouton') }}" method="POST">
        <button type="submit" class="btn btn-danger mx-2">Déconnexion</button>
      </form>
    </div>
  </div>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    function activateHistoriqueTab() {
      const historiqueTab = document.getElementById('historique-tab');
      historiqueTab.classList.add('active');
      historiqueTab.setAttribute('aria-selected', 'true');

      const historiqueContent = document.getElementById('historique');
      historiqueContent.classList.add('show', 'active');
    }



    // Verificar si se realizó una supresión y activar la pestaña correspondiente
    const urlParams = new URLSearchParams(window.location.search);
    const suppressionSuccessful = urlParams.get('suppression');
    if (suppressionSuccessful === 'true') {
      activateHistoriqueTab();
    }

    // Asegúrese de que este código se ejecute después de que la tabla y los datos estén completamente cargados
    let beneficios = [];

    // Selecciona todas las filas de la tabla
    document.querySelectorAll('table tbody tr').forEach(row => {
        // Encuentra el séptimo td en la fila
        let tdBeneficios = row.cells[6];

        // Verifica si el td contiene un span y extrae el texto
        let span = tdBeneficios.querySelector('span');
        if (span) {
            let valor = parseFloat(span.textContent);

            // Si el span tiene la clase 'text-danger', convierte el valor en negativo
            if (span.classList.contains('text-danger') && valor > 0) {
                valor = -valor;
            }

            beneficios.push(valor);
        }
    });

    // Crear el gráfico
    const ctx = document.getElementById('miGrafico').getContext('2d');
    const miGrafico = new Chart(ctx, {
        type: 'line', // O 'bar' para un gráfico de barras
        data: {
            labels: beneficios.map((_, index) => `Mise ${index + 1}`),
            datasets: [{
                label: 'Beneficios',
                data: beneficios,
                backgroundColor: 'rgba(0, 123, 255, 0.5)',
                borderColor: 'rgba(0, 123, 255, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
  });
  
</script>
<style>
  .table-container {
      max-height: 400px;
      overflow-y: auto;
    }
</style>


{% endblock %}