{% extends 'base.html' %}

{% block title %}Paris sportifs Super Bowl{% endblock %}
{% block content %}
<div class="container">
  <h1 class="text-center mt-5 text-white">Paris sportifs Super Bowl</h1>
  <p class="text-center text-white">L'endroit idéal pour gagner de l'argent avec les paris sportifs</p>
</div>
<div class="container">
  <h4 class="text-white">Matchs du jour : {{current_date}}</h4>
  <div class="table-responsive">
    <table class="table table-border-outer text-white">
        <thead>
          <tr>
            <td>New Orleans vs Atlanta</td>
            <td>San Francisco vs Chicago</td>      
          </tr>
          <tr>               
            <td>New England vs Miami</td>
            <td>Baltimore vs New York</td>
          </tr>
          <tr>
            <td>Pittsburgh vs Cincinnati</td>
            <td>Philadelphia vs Detroit</td>
          </tr>
        </thead>
    </table>
  </div>
</div>
<div class="container">
  <div class="btn-container-index d-flex justify-content-center align-items-center">
    <div class="text-center">
      <button type="button" class="btn btn-primary mx-2">Se connecter</button>
    </div>
    <div class="text-center">
      <a class="btn btn-primary mx-2" href="{{ url_for('visualiser_matchs') }}">Visualiser tous les matchs</a>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-primary mx-2">Parier</button>
    </div>
  </div>
</div>  

{% endblock %}