{% extends 'base.html' %}

{% block title %}Paris sportifs Super Bowl{% endblock %}
{% block content %}
<div class="container">
  <h1 class="text-center mt-5">Paris sportifs Super Bowl</h1>
  <p class="text-center">L'endroit idéal pour gagner de l'argent avec les paris sportifs</p>
</div>

<div class="card custom-card" id="custom-cardIndex">
  <div class="card-body">
    <div class="container">
      <h4 class="text">Matchs du jour : {{current_date}}</h4>
      <div class="table-responsive">
        <table class="table custom-table" id="tableindex">
          <tbody>
            {% for match in matches %}
            <tr>
              <td>
                {% if match[15] %}
                  <img src="{{ url_for('static', filename=match[15]) }}" alt="Logo de {{ match.equipe1 }}" style="width: 50px; height: 50px;">
                {% endif %}
                {{ match[1] }}
              </td>
              <td>vs</td>
              <td>
                {{ match[2] }}
                {% if match[16] %} {# Aquí usamos match[16] para verificar el logo del equipo visitante #}
                  <img src="{{ url_for('static', filename=match[16]) }}" alt="Logo de {{ match.equipe2 }}" style="width: 50px; height: 50px;">
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



{% endblock %}