{% extends 'base.html' %}

{% block title %}Paris sportifs Super Bowl{% endblock %}
{% block content %}
<div class="container">
  <h1 class="text-center mt-5">Paris sportifs Super Bowl</h1>
  <p class="text-center">L'endroit idéal pour gagner de l'argent avec les paris sportifs</p>
</div>
<div class="container">
  <h4 class="text">Matchs du jour : {{current_date}}</h4>
  <div class="table-responsive">
    <table class="table table-border-outer">
      <thead>
        <tr>
          <th>Équipe 1</th>
          <th>Équipe 2</th>
        </tr>
      </thead>
      <tbody>
        {% for match in matches %}
        <tr>
          <td>{{ match[1] }}</td>
          <td>{{ match[2] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
</div>
<div class="container">
  <div class="btn-container-index d-flex justify-content-center align-items-center">
    {% if not voir_bouton_mon_espace %}
    <div class="text-center">
      <a class="btn btn-primary mx-2" href="{{ url_for('se_connecter') }}">Se connecter</a>
    </div>
    {% endif %}
    <div class="text-center">
      <a class="btn btn-primary mx-2" href="{{ url_for('visualiser_matchs' , match_id=match) }}">Visualiser tous les matchs</a>

    </div>
    <div class="text-center">
      <a class="btn btn-primary mx-2" href="{{ url_for('parier')}}">Parier</a>
    </div>
    {% if voir_bouton_mon_espace %}
      {% if user_admin %}
        <div class="text-center">
          <a class="btn btn-primary mx-2" href="{{ url_for('espace_administrateur')}}">Mon Espace</a>
        </div>
      {% else %}
        <div class="text-center">
          <a class="btn btn-primary mx-2" href="{{ url_for('espace_utilisateur')}}">Mon Espace</a>
        </div>
      {% endif %}
    {% endif %}
  </div>
</div>  

{% endblock %}