{% extends 'base.html' %}

{% block title %}Miser{% endblock %}
{% block content %}

<h1 class="text-center mt-5" style="color: white">Miser</h1>
<div class="container" style="display: flex; justify-content: center; align-items: center; height: 40vh;">
    <div class="card" style="width: 40%">
        <div class="card-body">
            <form method="POST" action="/form_miser">
                <div class="form-group" style="margin-bottom: 25px">
                    <label for="jour" class="control-label">Date :</label>
                    <span id="jour">{{ jour }}</span>
                    <label for="debut" class="control-label" style="margin-left: 10px;">Heure :</label>
                    <span id="debut">{{ debut }}</span>
                </div>
                <div class="form-group">
                    <div class="row justify-content-center" >
                        <div class="col-md-6 text-center">
                            
                            <label for="equipe1" class="control-label">{{ equipe1 }}</label>
                            <label for="cote1" class="control-label" style="margin-left: 10px;">{{ cote1 }}</label>
                            <div class="d-flex justify-content-center">
                                <input type="text" class="form-control" id="mise1" name="mise1" oninput="this.value = this.value.replace(/[^0-9]/g, ''); calculerMultiplication('mise1', 'resultat1', parseFloat('{{ cote1 }}') )"
                                style="margin-top: 10px; width: 40%" maxlength="7">
                            </div>
                            
                            <span id="resultat1" name="resultat1"></span>
                            <input type="hidden" id="resultat1_input" name="resultat1" value="">
                               
                        </div>
                        <div class="col-md-6 text-center">
                          
                            <label for="equipe2" class="control-label">{{ equipe2 }}</label>
                            <label for="cote2" class="control-label" style="margin-left: 10px;">{{ cote2 }}</label>
                            <div class="d-flex justify-content-center">
                                <input type="text" class="form-control" id="mise2" name="mise2" oninput="this.value = this.value.replace(/[^0-9]/g, ''); calculerMultiplication('mise2', 'resultat2',parseFloat('{{ cote2 }}') )"
                                style="margin-top: 10px; width: 40%" maxlength="7">
                            </div>
                            
                            <span id="resultat2" name="resultat2"></span>
                            <input type="hidden" id="resultat2_input" name="resultat2" value="">
                                
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-sm-12 text-center">
                            {% if existing_bet %}
                                <button type="submit" class="btn neon-btn" name="valider" id="actualisation-button">Actualisation</button>
                            {% else %}
                                <button type="submit" class="btn neon-btn" name="valider" id="miser-button" disabled>Validation</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    // Obtener los elementos de entrada
    var mise1Input = document.getElementById("mise1");
    var mise2Input = document.getElementById("mise2");

    // Obtener el botón de "Valider"
    var miserButton = document.getElementById("miser-button");

    // Agregar eventos de escucha a los campos de entrada
    mise1Input.addEventListener("input", validationBotonMiser);
    mise2Input.addEventListener("input", validationBotonMiser);

    // Función para validar el botón "Miser"
    function validationBotonMiser() {
        // Verificar si al menos uno de los campos tiene un valor
        if (mise1Input.value.trim() !== '' || mise2Input.value.trim() !== '') {
            miserButton.disabled = false; // Habilitar el botón si hay un valor en al menos uno de los campos
        } else {
            miserButton.disabled = true; // Deshabilitar el botón si ambos campos están vacíos
        }
    }

    
    function calculerMultiplication(inputId, resultatId, cote) {
        var input = document.getElementById(inputId);
        var resultat = document.getElementById(resultatId);
        var resultatInput = document.getElementById(resultatId + "_input"); // Champ caché pour le résultat spécifique
        var valeur = parseFloat(input.value);
    
        if (!isNaN(valeur)) {
            var multiplication = cote * valeur;
            resultat.textContent = 'Résultat : ' + multiplication;
            resultatInput.value = multiplication; // Affecter le résultat au champ caché spécifique
        } else {
            resultat.textContent = '';
            resultatInput.value = ''; // Effacer le champ caché s'il n'y a pas de valeur valide
        }
    
        // Llamar a la función de validación después de calcular la multiplicación
        validationBotonMiser();
    }
    
</script>

{% endblock %}