{% extends 'base.html' %}

{% block title %}Parier{% endblock %}
{% block content %}

<h1 class="text-center mt-5" style="color: white">Parier</h1>
  <div class="card custom-card" id="custom-cardParier">
    <div class="card-body">
      
      <div class="container">
        <form method="POST" action="{{ url_for('miser_sur_la_selection') }}">
          <div class="table container" id="tableParier">
            <table class="table table-hover scrollable-table">
              <thead>
                <tr>
                  <th>Sélectionner</th>
                  <th>Matchs</th>
                  <th>Jour</th>
                  <th>Début</th>
                  <th>Fin</th>
                  <th>Statut</th>
                  <th>Score</th>
                </tr>
              </thead>
              <tbody>
                {% for match in matchs %}
                <tr data-equipo1="{{ match.equipe1 }}" 
                data-equipo2="{{ match.equipe2 }}" data-jour="{{ match.jour }}" data-debut="{{ match.debut }}" 
                data-fin="{{ match.fin }}" data-statut="{{ match.statut }}" data-score="{{ match.score }}"
                data-cote1="{{ match.cote1 }}"  data-cote2="{{ match.cote2 }}">
                  <td>
                    <input type="checkbox" class="checkbox-match" name="match_selectionnee" value="{{ match.id }}">
                  </td>
                  <td class="equipes" id="nomEquipes">{{ match.equipe1 }} - {{ match.equipe2 }}</td>
                  <td>{{ match.jour }}</td>
                  <td>{{ match.debut }}</td>
                  <td>{{ match.fin }}</td>
                  <td>{{ match.statut }}</td>
                  <td>{{ match.score }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          

          <div id="error-container" style="height: 50px;">
            <div id="error-message" class="alert alert-danger d-none" style="display: inline-block;">Veuillez sélectionner au moins un match.</div>
          </div>

          <button type="submit" class="btn btn-primary mx-2" id="btn-miser" style="margin-top: 2px;" {% if not voir_bouton_miser_selection %}disabled{% endif %}>Miser sur la sélection</button>

        </form>
      </div>
    </div>
  </div>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    var checkboxes = document.getElementsByClassName('checkbox-match');
  
    for (var i = 0; i < checkboxes.length; i++) {
      var ligne = checkboxes[i].parentNode.parentNode;
      var statut = ligne.cells[5].textContent.trim();
  
      if (statut === "Terminé") {
        checkboxes[i].disabled = true; 
      }
      
    }
  });

   
  
  document.getElementById('btn-miser').addEventListener('click', function(e) {
    e.preventDefault();
  
    var checkboxes = document.getElementsByClassName('checkbox-match');
    var resultatsSelectionnes = [];
    var auMoinsUnSelectionne = false;
  
    for (var i = 0; i < checkboxes.length; i++) {
      if (checkboxes[i].checked) {
        var ligne = checkboxes[i].parentNode.parentNode;
        var score = (ligne.cells[6] && ligne.cells[6].textContent) || "N/A";
        if (score.trim() === "") {
          score = "null";
        }
        var equipes = ligne.getElementsByClassName('equipes')[0].textContent;
        var equipe1 = "";
        var equipe2 = "";
        if (typeof equipes === "string") {
          var equipesArray = equipes.split('-');
          if (equipesArray.length === 2) {
            equipe1 = equipesArray[0].trim();
            equipe2 = equipesArray[1].trim();
          }
        }
  
        var match = {
          id: checkboxes[i].value,
          equipe1: equipe1,
          equipe2: equipe2,
          cote1: ligne.getAttribute('data-cote1'),
          cote2: ligne.getAttribute('data-cote2'),
          jour:  ligne.getAttribute('data-jour')
        };
  
        resultatsSelectionnes.push(match);
        auMoinsUnSelectionne = true
      }
    }
    
    if (auMoinsUnSelectionne) {
      var formulaire = document.createElement('form');
      formulaire.method = 'POST';
      formulaire.action = "{{ url_for('miser_sur_la_selection') }}";
    
      var champDonnees = document.createElement('input');
      champDonnees.type = 'hidden';
      champDonnees.name = 'donnees_selectionnees';
      champDonnees.value = JSON.stringify(resultatsSelectionnes);
    
      formulaire.appendChild(champDonnees);
    
      document.body.appendChild(formulaire);
      formulaire.submit();

    } else {
      document.getElementById('error-message').classList.remove('d-none');
    }
   
  });
  
   
</script>

{% endblock %}
