{% extends 'base.html' %}

{% block title %}Planification{% endblock %}
{% block content %}


<div class="container align-items-center justify-content-center" style="margin-top: 50px;">
  <h1 class="text-center">Planification des matchs</h1>
</div>
<div class="container">
  <form action="/planification" method="POST">
    <label for="equipe1">Equipo 1:</label>
    <select name="equipe1" id="equipe1">
        {% for equipe in equipes %}
        <option value="{{ equipe }}">{{ equipe }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="equipe2">Equipo 2:</label>
    <select name="equipe2" id="equipe2">
        {% for equipe in equipes %}
        <option value="{{ equipe }}">{{ equipe }}</option>
        {% endfor %}
    </select>
   
    <label for="jour">Jour :</label>
    <input type="date" id="jour" name="jour" required><br><br>

    <label for="debut">Début :</label>
    <input type="time" id="debut" name="debut" required><br><br>

    

  

    <label for="cote1">Cote Équipe 1 :</label>
    <input type="text" id="cote1" name="cote1" required><br><br>

    <label for="cote2">Cote Équipe 2 :</label>
    <input type="text" id="cote2" name="cote2" required><br><br>


    <input type="submit" value="Créer le Match">
  </form>
</div>

<div id="errorPopup" class="popup">
  <div class="popup-content">
      <span class="close" onclick="closePopup()">&times;</span>
      <p id="errorMessage">Erreur.</p>
  </div>
</div>


<script>
  // Fonction pour afficher la fenêtre contextuelle d'erreur
  function showErrorPopup(message) {
    document.getElementById('errorMessage').textContent = message;
    document.getElementById('errorPopup').style.display = 'block';
  }

  // Fonction pour fermer la fenêtre contextuelle d'erreur
  function closePopup() {
    document.getElementById('errorPopup').style.display = 'none';
  }

  // Vérifier s'il y a un message d'erreur et afficher ou masquer la fenêtre contextuelle en conséquence
  var error_message = "{{ error_message }}"; // Obtenir le message d'erreur de Django
  if (error_message) {
    showErrorPopup(error_message); // Afficher la fenêtre contextuelle s'il y a un message d'erreur
  } else {
    closePopup(); // Masquer la fenêtre contextuelle s'il n'y a pas de message d'erreur
  }
</script>


{% endblock %}


