{% extends 'base.html' %}

{% block title %}Reussite creation compte{% endblock %}
{% block content %}
<div class="container align-items-center justify-content-center" style="margin-top: 50px;">
  <h3>Veuillez s'il vous plaît valider votre mail</h3>

</div>

<div class="container">
  <div class="btn-container-index d-flex justify-content-center align-items-center">
    <div class="text-center">
      <a class="btn btn-primary mx-2" href="{{ url_for('index') }}">Index</a>
    </div>
  </div>
</div>  

{% endblock %}
